<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_depth_optical_frame" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="10"/>
</node>

   <node name="image_proc" pkg="image_proc" type="image_proc">
	<remap from="image_raw" to="/camera/usb_cam/image_raw"/>
    <remap from="camera_info" to="/camera/usb_cam/camera_info"/>
   </node>

</launch>
